In [1]:
from math import sqrt
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import pairwise_distances

In [2]:
ratings = pd.read_csv('ratings.csv', sep=',', encoding='latin-1', usecols=['userId','movieId','rating','timestamp'])
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
# Reading movies file
movies = pd.read_csv('movies.csv', sep=',', encoding='latin-1', usecols=['movieId','title','genres'])
movies

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [4]:
movies_ratings=pd.merge(movies, ratings)
movies_ratings

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483
...,...,...,...,...,...,...
100831,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184,4.0,1537109082
100832,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184,3.5,1537109545
100833,193585,Flint (2017),Drama,184,3.5,1537109805
100834,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184,3.5,1537110021
100835,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331,4.0,1537157606

In [5]:
ratings_users = movies_ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating',fill_value=0).reset_index(drop=True)
ratings_users

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
0,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
4,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
606,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
607,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
608,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,4.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0
609,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0,0.0,0.0,...,0.0,0,0,0,0.0,0,0.0,0.0,0.0,0

In [6]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(ratings_users.to_numpy())

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
movie_similarity = cosine_similarity(ratings_users.to_numpy())
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done 
ratings_users = pd.DataFrame( movie_similarity )
ratings_users

,0,1,2,3,4,5,6,7,8,9,...,600,601,602,603,604,605,606,607,608,609
0,0.000000,0.027283,0.059720,0.194395,0.129080,0.128152,0.158744,0.136968,0.064263,0.016875,...,0.080554,0.164455,0.221486,0.070669,0.153625,0.164191,0.269389,0.291097,0.093572,0.145321
1,0.027283,0.000000,0.000000,0.003726,0.016614,0.025333,0.027585,0.027257,0.000000,0.067445,...,0.202671,0.016866,0.011997,0.000000,0.000000,0.028429,0.012948,0.046211,0.027565,0.102427
2,0.059720,0.000000,0.000000,0.002251,0.005020,0.003936,0.000000,0.004941,0.000000,0.000000,...,0.005048,0.004892,0.024992,0.000000,0.010694,0.012993,0.019247,0.021128,0.000000,0.032119
3,0.194395,0.003726,0.002251,0.000000,0.128659,0.088491,0.115120,0.062969,0.011361,0.031163,...,0.085938,0.128273,0.307973,0.052985,0.084584,0.200395,0.131746,0.149858,0.032198,0.107683
4,0.129080,0.016614,0.005020,0.128659,0.000000,0.300349,0.108342,0.429075,0.000000,0.030611,...,0.068048,0.418747,0.110148,0.258773,0.148758,0.106435,0.152866,0.135535,0.261232,0.060792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,0.164191,0.028429,0.012993,0.200395,0.106435,0.102123,0.200035,0.099388,0.075898,0.088963,...,0.178084,0.116534,0.300669,0.066032,0.148141,0.000000,0.153063,0.262558,0.069622,0.201104
606,0.269389,0.012948,0.019247,0.131746,0.152866,0.162182,0.186114,0.185142,0.011844,0.010451,...,0.092525,0.199910,0.203540,0.137834,0.118780,0.153063,0.000000,0.283081,0.149190,0.139114
607,0.291097,0.046211,0.021128,0.149858,0.135535,0.178809,0.323541,0.187233,0.100435,0.077424,...,0.158355,0.197514,0.232771,0.155306,0.178142,0.262558,0.283081,0.000000,0.121993,0.322055
608,0.093572,0.027565,0.000000,0.032198,0.261232,0.214234,0.090840,0.423993,0.000000,0.021766,...,0.035653,0.335231,0.061941,0.236601,0.097610,0.069622,0.149190,0.121993,0.000000,0.053225
609,0.145321,0.102427,0.032119,0.107683,0.060792,0.052668,0.193219,0.078153,0.074399,0.121072,...,0.222491,0.087528,0.163094,0.052552,0.119295,0.201104,0.139114,0.322055,0.053225,0.000000

In [8]:
similar_users = ratings_users.idxmax(axis='columns')

In [9]:
similar_users = pd.DataFrame( similar_users , columns=['similarUser'])
similar_users

     similarUser
0            265
1            365
2            312
3            390
4            469
..           ...
605          473
606          569
607          479
608          339
609          248

[610 rows x 1 columns]

n_movies = movies
n_ratings = ratings
n_movies_ratings = movies_ratings

In [10]:
n_movies = movies
n_ratings = ratings
n_movies_ratings = movies_ratings

In [11]:
def movieIdToTitle(listMovieIDs):
    movie_titles= list()
    for id in listMovieIDs:
        movie_titles.append(n_movies[n_movies['movieId']==id]['title'])
    return movie_titles

In [12]:
movieId_recommended=list()
def get_RecommendedMovies_perUserSimilarity(userId):
    usertoMovies= n_ratings[n_ratings['userId']== userId]['movieId']
    sim_user=similar_users.iloc[0,0]
    recommended=pd.DataFrame(columns=['movieId','title','genres','userId','rating','timestamp'])
    for movieId in n_ratings[n_ratings['userId']== sim_user]['movieId']:
        if movieId not in usertoMovies:
            n_new= n_movies_ratings[(n_movies_ratings.userId==sim_user) & (n_movies_ratings.movieId==movieId)]
            recommended=pd.concat([recommended,n_new])
        Top10=recommended.sort_values(['rating'], ascending = False )[1:10]  
    return Top10['movieId']

In [13]:
user_id=50
recommended_movies= movieIdToTitle(get_RecommendedMovies_perUserSimilarity(user_id))
print("Top suggested movies are :\n")
print(recommended_movies)

Top suggested movies are :

[1431    Rocky (1976)
Name: title, dtype: object, 742    African Queen, The (1951)
Name: title, dtype: object, 733    It's a Wonderful Life (1946)
Name: title, dtype: object, 939    Terminator, The (1984)
Name: title, dtype: object, 969    Back to the Future (1985)
Name: title, dtype: object, 510    Silence of the Lambs, The (1991)
Name: title, dtype: object, 1057    Star Trek II: The Wrath of Khan (1982)
Name: title, dtype: object, 1059    Star Trek IV: The Voyage Home (1986)
Name: title, dtype: object, 1939    Matrix, The (1999)
Name: title, dtype: object]

In [14]:
def get_user_similar_movies( user1, user2 ):
    
    print(n_movies_ratings)
    common_movies = n_movies_ratings[n_movies_ratings.userId == user1].merge(
      n_movies_ratings[n_movies_ratings.userId == user2],
      on = "movieId",
      how = "inner" )
    print(common_movies)
    common_movies.drop(['movieId','genres_x','genres_y', 'timestamp_x','timestamp_y','title_y'],axis=1,inplace=True)
    return common_movies

In [15]:
get_user_similar_movies(587,511)

        movieId                                      title  \
0             1                           Toy Story (1995)
1             1                           Toy Story (1995)
2             1                           Toy Story (1995)
3             1                           Toy Story (1995)
4             1                           Toy Story (1995)
...         ...                                        ...
100831   193581  Black Butler: Book of the Atlantic (2017)
100832   193583               No Game No Life: Zero (2017)
100833   193585                               Flint (2017)
100834   193587        Bungo Stray Dogs: Dead Apple (2018)
100835   193609        Andrew Dice Clay: Dice Rules (1991)

                                             genres  userId  rating  \
0       Adventure|Animation|Children|Comedy|Fantasy       1     4.0
1       Adventure|Animation|Children|Comedy|Fantasy       5     4.0
2       Adventure|Animation|Children|Comedy|Fantasy       7     4.5
3       Adventure|Animation|Children|Comedy|Fantasy      15     2.5
4       Adventure|Animation|Children|Comedy|Fantasy      17     4.5
...                                             ...     ...     ...
100831              Action|Animation|Comedy|Fantasy     184     4.0
100832                     Animation|Comedy|Fantasy     184     3.5
100833                                        Drama     184     3.5
100834                             Action|Animation     184     3.5
100835                                       Comedy     331     4.0

         timestamp
0        964982703
1        847434962
2       1106635946
3       1510577970
4       1305696483
...            ...
100831  1537109082
100832  1537109545
100833  1537109805
100834  1537110021
100835  1537157606

[100836 rows x 6 columns]
   movieId                                      title_x  \
0      356                          Forrest Gump (1994)
1     2324  Life Is Beautiful (La Vita Ã¨ bella) (1997)
2     2571                           Matrix, The (1999)

                   genres_x  userId_x  rating_x  timestamp_x  \
0  Comedy|Drama|Romance|War       587       4.0    953138612
1  Comedy|Drama|Romance|War       587       5.0    953137813
2    Action|Sci-Fi|Thriller       587       4.0    953141652

                                       title_y                  genres_y  \
0                          Forrest Gump (1994)  Comedy|Drama|Romance|War
1  Life Is Beautiful (La Vita Ã¨ bella) (1997)  Comedy|Drama|Romance|War
2                           Matrix, The (1999)    Action|Sci-Fi|Thriller

   userId_y  rating_y  timestamp_y
0       511       4.5   1450094222
1       511       4.5   1450094208
2       511       5.0   1450093985

,title_x,userId_x,rating_x,userId_y,rating_y
0,Forrest Gump (1994),587,4.0,511,4.5
1,Life Is Beautiful (La Vita Ã¨ bella) (1997),587,5.0,511,4.5
2,"Matrix, The (1999)",587,4.0,511,5.0