In [43]:
%%capture capt
%run 6_user_item_collaborative.ipynb

In [44]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate, KFold

In [45]:
reader = Reader()
ratings = pd.read_csv('../datasets/The_Movies/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [46]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=10)
kf.split(data)

In [47]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE'])

{'test_rmse': array([0.89719186, 0.9015192 , 0.90301636, 0.89121764, 0.89410303]),
 'fit_time': (5.378178119659424,
  5.543016195297241,
  5.494493007659912,
  5.503294229507446,
  5.617419242858887),
 'test_time': (0.25873255729675293,
  0.27164220809936523,
  0.39713549613952637,
  0.23817753791809082,
  0.23908257484436035)}

In [48]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [49]:
svdPrediction = svd.predict(1, 302)
svdPrediction.est

2.645813302435789