In [102]:
%%capture capt
%run 6_user_item_collaborative.ipynb

In [44]:
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate, KFold

In [45]:
reader = Reader()
ratings = pd.read_csv('../datasets/The_Movies/ratings_small.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [115]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=5)
kf.split(data)

In [47]:
svd = SVD()
cross_validate(svd, data, measures=['RMSE'])

{'test_rmse': array([0.89719186, 0.9015192 , 0.90301636, 0.89121764, 0.89410303]),
 'fit_time': (5.378178119659424,
  5.543016195297241,
  5.494493007659912,
  5.503294229507446,
  5.617419242858887),
 'test_time': (0.25873255729675293,
  0.27164220809936523,
  0.39713549613952637,
  0.23817753791809082,
  0.23908257484436035)}

In [48]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [111]:
randomMovieId = random.choice(movieRatings['movieId'])
movieRatings.iloc[movieIdIndex[randomMovieId]].title

'Harry Potter and the Order of the Phoenix'

In [112]:
svdPrediction = svd.predict(randomUser, randomMovieId)
svdPrediction.est

4.303695434254701

In [114]:
topRatedMovies

       tmdbId  movieId                     title  userId  rating
64940     289      912                Casablanca     320     5.0
35504      78      541              Blade Runner     320     5.0
63538     582    44555       The Lives of Others     320     4.5
15912     603     2571                The Matrix     320     4.5
54951     680      296              Pulp Fiction     320     4.5
46945  205596   116797        The Imitation Game     320     4.5
37114     424      527          Schindler's List     320     4.0
59379   17431    68237                      Moon     320     4.0
58873      77     4226                   Memento     320     4.0
52874     489     1704         Good Will Hunting     320     4.0
49831  264660   115713                Ex Machina     320     4.0
48708   12405    63082       Slumdog Millionaire     320     4.0
48363      19     2010                Metropolis     320     4.0
46866   45269    81845         The King's Speech     320     4.0
44797     205    30749              Hotel Rwanda     320     4.0
38259     278      318  The Shawshank Redemption     320     4.0
2048   157336   109487              Interstellar     320     4.0
3450    13475    68358                 Star Trek     320     4.0
33179      70    30707       Million Dollar Baby     320     4.0
31334   45612    85414               Source Code     320     4.0
30428     423     5995               The Pianist     320     4.0
24895     508     6942             Love Actually     320     4.0
22694     752    44191            V for Vendetta     320     4.0
20598     393     7438         Kill Bill: Vol. 2     320     4.0
20441      24     6874         Kill Bill: Vol. 1     320     4.0
19586      13      356              Forrest Gump     320     4.0
6595      180     5445           Minority Report     320     4.0
6284   286217   134130               The Martian     320     4.0
5577    49047   104841                   Gravity     320     4.0
36909   13223    64614               Gran Torino     320     4.0