In [177]:
import pandas as pd
import numpy as np
import os
import json

In [179]:
credits = pd.read_csv("../datasets/TMDB/tmdb_5000_credits.csv")
movies = pd.read_csv("../datasets/TMDB/tmdb_5000_movies.csv")
ratings = pd.read_csv("../datasets/The_Movies/ratings_small.csv")
links = pd.read_csv("../datasets/The_Movies/links_small.csv")
movies_unchanged = movies
credits_unchanged = credits
links_unchanged = links
ratings_unchanged = ratings

In [163]:
# Tmeta = pd.read_csv("../datasets/The_Movies/movies_metadata.csv")
# print("metadata file is corrupted but same date is present in tmdb_5000_movies.csv datafile")
# pd.DataFrame({'feature':Tmeta.dtypes.index, 'dtype':Tmeta.dtypes.values})

#Tmeta = pd.read_csv("../datasets/The_Movies/movies_metadata.csv")
# Tmeta = pd.read_csv(os.path.join(PATH,"movies_metadata.csv"), low_memory=False)
# Tmeta[Tmeta['popularity'] == 'Beware Of Frost Bites']
# loc = Tmeta.index[Tmeta['popularity'] == 'Beware Of Frost Bites'].tolist()
# Tmeta.iloc[loc]
# Tmeta = Tmeta.drop(Tmeta.index[35587])
# Tmeta.astype({'popularity':float})

In [164]:
#Tcredits = pd.read_csv("../datasets/The_Movies/credits.csv")
#Credits can be fetched from TMDB dataset

In [165]:
#print(Tmovies.columns)
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [166]:
movies = movies[['genres','id','keywords','title','overview','popularity','vote_average','vote_count']]
movies.head(2)

,genres,id,keywords,title,overview,popularity,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,6.9,4500

In [167]:
# the id column names are different in both datasets. 
movies = movies.rename(columns={"id":"tmdbId"})
if('title' in credits):
    credits = credits.drop(columns=["title"])
credits = credits.rename(columns={"movie_id":"tmdbId"})
credits.head()

,tmdbId,cast,crew
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [168]:
#combine to single dataframe
print("Duplicate movie id's conunt in movies df: ",movies.tmdbId.duplicated().sum())
print("Duplicate movie id's conunt in credits df: ",credits.tmdbId.duplicated().sum())
movies = movies.merge(credits,on="tmdbId")
movies.head(2)

Duplicate movie id's conunt in movies df:  0
Duplicate movie id's conunt in credits df:  0

,genres,tmdbId,keywords,title,overview,popularity,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [169]:
movies.isnull().sum()

genres          0
tmdbId          0
keywords        0
title           0
overview        3
popularity      0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [170]:
movies = movies.fillna("")
movies.isnull().sum()

genres          0
tmdbId          0
keywords        0
title           0
overview        0
popularity      0
vote_average    0
vote_count      0
cast            0
crew            0
dtype: int64

In [171]:
print("duplicated records", movies.duplicated().sum())

duplicated records 0

In [173]:
if(isinstance(movies.genres[0], str)):
    genreList = []
    for i in movies.genres:
        JSON = json.loads(i)
        movieGenres = []
        for j in JSON:
            movieGenres.append(j['name'])
        genreList.append(movieGenres)
    movies = movies.drop(columns = ['genres'])
    movies['genres'] = pd.Series(genreList)
movies.genres.head(2)

0    [Action, Adventure, Fantasy, Science Fiction]
1                     [Adventure, Fantasy, Action]
Name: genres, dtype: object

In [174]:
if(isinstance(movies.cast[0], str)):
    castList = []
    for i in movies.cast:
        JSON = json.loads(i)
        movieCast = []
        for j in JSON:
            movieCast.append(j['name'])
        castList.append(movieCast)
    movies = movies.drop(columns = ['cast'])
    movies['cast'] = pd.Series(castList)
movies.cast.head(2)

0    [Sam Worthington, Zoe Saldana, Sigourney Weave...
1    [Johnny Depp, Orlando Bloom, Keira Knightley, ...
Name: cast, dtype: object

##### Sample List of crew members  job role in a movie

In [175]:
JSON = json.loads(credits_unchanged.crew[0])
jobs = []
for j in JSON:
    jobs.append(j['job'])
print(set(jobs))

{'Hairstylist', 'Set Decoration', 'Steadicam Operator', 'Dialogue Editor', 'Still Photographer', 'Digital Intermediate', 'Foley', 'Lighting Technician', 'Set Designer', 'Art Direction', 'Sound Effects Editor', 'Sound Designer', 'Visual Effects Producer', 'Visual Effects Art Director', 'Modeling', 'Motion Capture Artist', 'Costume Design', 'Screenplay', 'Construction Coordinator', 'Editor', 'Original Music Composer', 'Supervising Sound Editor', 'Production Manager', 'Special Effects Coordinator', 'Publicist', 'Director of Photography', 'Camera Operator', 'Costume Supervisor', 'Transportation Coordinator', 'Writer', 'Visual Effects Supervisor', 'Director', 'Producer', 'Animation Director', 'Music Editor', 'Sound Re-Recording Mixer', 'Visual Effects Editor', 'Art Department Manager', 'Makeup Department Head', 'Casting', 'Stunts', 'Makeup Artist', 'Choreographer', 'Executive Producer', 'Production Supervisor', 'Post Production Supervisor', 'Production Design', 'Set Costumer', 'Conceptual Design', 'CG Supervisor', 'Supervising Art Director', 'Assistant Art Director', 'Stunt Coordinator', 'Best Boy Electric', 'Dialect Coach', 'Art Department Coordinator', 'Lighting Artist'}

In [176]:
if(('crew' in movies) and (isinstance(movies.crew[0], str))):
    directorList = []
    for i in movies.crew:
        JSON = json.loads(i)
        movieDirectors = []
        for j in JSON:
            if(j['job'] == 'Director'):
                movieDirectors.append(j['name'])
        directorList.append(movieDirectors)
    movies = movies.drop(columns = ['crew'])
    movies['directors'] = pd.Series(directorList)
movies.directors

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4798                          [Robert Rodriguez]
4799                              [Edward Burns]
4800                               [Scott Smith]
4801                               [Daniel Hsia]
4802    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: directors, Length: 4803, dtype: object