In [56]:
%%capture capt 
%run 1_preprocessing.ipynb

In [57]:
links.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [58]:
movies.head(2)

,tmdbId,title,overview,popularity,vote_average,vote_count,genres,cast,directors,keywords,content
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800,"[action, adventure, fantasy, science_fiction]","[sam_worthington, zoe_saldana, sigourney_weave...",[james_cameron],"[culture_clash, future, space_war, space_colon...",culture_clash future space_war space_colony so...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,6.9,4500,"[adventure, fantasy, action]","[johnny_depp, orlando_bloom, keira_knightley, ...",[gore_verbinski],"[ocean, drug_abuse, exotic_island, east_india_...",ocean drug_abuse exotic_island east_india_trad...

##### Merge Movies with links.csv to get the corresponding movieId and imdbId of each movie in TMDB dataset

In [59]:
movies = movies.merge(links,on='tmdbId')
movies.head(2)

,tmdbId,title,overview,popularity,vote_average,vote_count,genres,cast,directors,keywords,content,movieId,imdbId
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800,"[action, adventure, fantasy, science_fiction]","[sam_worthington, zoe_saldana, sigourney_weave...",[james_cameron],"[culture_clash, future, space_war, space_colon...",culture_clash future space_war space_colony so...,72998,499549
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,6.9,4500,"[adventure, fantasy, action]","[johnny_depp, orlando_bloom, keira_knightley, ...",[gore_verbinski],"[ocean, drug_abuse, exotic_island, east_india_...",ocean drug_abuse exotic_island east_india_trad...,53125,449088

##### Few movies that are present in TMDB dataset are not present in Ratings dataset. So After joining these two datasets the final movies count is reduced.

In [74]:
ids = ratings['movieId'].unique()
movies = movies[movies['movieId'].isin(ids)]
movies = movies.reset_index(drop=True)
movies.shape

(3394, 13)

##### Merge TMDB dataset with Ratings dataset

In [73]:
movieRatings = movies.merge(ratings,on='movieId')
movieRatings.head(2)

,tmdbId,title,overview,popularity,vote_average,vote_count,genres,cast,directors,keywords,content,movieId,imdbId,userId,rating,timestamp
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800,"[action, adventure, fantasy, science_fiction]","[sam_worthington, zoe_saldana, sigourney_weave...",[james_cameron],"[culture_clash, future, space_war, space_colon...",culture_clash future space_war space_colony so...,72998,499549,15,4.0,1261944230
1,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,7.2,11800,"[action, adventure, fantasy, science_fiction]","[sam_worthington, zoe_saldana, sigourney_weave...",[james_cameron],"[culture_clash, future, space_war, space_colon...",culture_clash future space_war space_colony so...,72998,499549,26,3.5,1352597807

In [72]:
movieRatings = movieRatings[['tmdbId','movieId','title','userId','rating']]
movieRatings.head()

   tmdbId  movieId   title  userId  rating
0   19995    72998  Avatar      15     4.0
1   19995    72998  Avatar      26     3.5
2   19995    72998  Avatar      31     4.0
3   19995    72998  Avatar      48     4.5
4   19995    72998  Avatar      72     2.0

In [63]:
movieRatings.isna().sum()

tmdbId     0
movieId    0
title      0
userId     0
rating     0
dtype: int64

In [69]:
print('total movies in TMDB dataset after merge: ' ,len(movies.tmdbId.unique()))

total movies in TMDB dataset after merge:  3394

In [70]:
print('total movies in Ratings dataset after merge: ', len(movieRatings.tmdbId.unique()))

total movies in Ratings dataset after merge:  3394

In [71]:
print('initial movies count in Ratings dataset : ', len(ratings.movieId.unique()))

initial movies count in Ratings dataset :  9066