In [1]:
%%capture capt
%run 5_item_to_item.ipynb

In [11]:
ratings_users = movieRatings.pivot_table(index=['userId'],columns=['movieId'],values='rating',fill_value=0).reset_index(drop=True)
ratings_users

movieId,1,10,11,14,15,16,17,18,19,20,...,158528,159093,159690,159858,160080,160271,160438,160440,160563,160565
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
1,0.0,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
3,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,0.0,0.0,3.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
668,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
669,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0
670,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,0,0.0,0,0.0,0.0,0.0,0,0

In [12]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(ratings_users.to_numpy())

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
movie_similarity = cosine_similarity(ratings_users.to_numpy())
np.fill_diagonal( movie_similarity, 0 ) #Filling diagonals with 0s for future use when sorting is done 
ratings_users = pd.DataFrame( movie_similarity )
ratings_users

,0,1,2,3,4,5,6,7,8,9,...,661,662,663,664,665,666,667,668,669,670
0,0.000000,0.000000,0.000000,0.084333,0.025645,0.000000,0.076257,0.000000,0.019779,0.000000,...,0.000000,0.000000,0.021369,0.038632,0.000000,0.000000,0.000000,0.093389,0.000000,0.026224
1,0.000000,0.000000,0.161424,0.171523,0.137666,0.000000,0.230059,0.149463,0.152033,0.060426,...,0.600587,0.083067,0.099985,0.193333,0.605019,0.520414,0.090347,0.031211,0.217209,0.123673
2,0.000000,0.161424,0.000000,0.102507,0.167911,0.074611,0.189243,0.279033,0.158645,0.141017,...,0.188232,0.074203,0.193247,0.194901,0.202305,0.189057,0.157449,0.092082,0.152963,0.195753
3,0.084333,0.171523,0.102507,0.000000,0.113360,0.075557,0.452839,0.251736,0.026628,0.190097,...,0.166791,0.067512,0.166016,0.250716,0.180144,0.140719,0.106759,0.120491,0.075490,0.272246
4,0.025645,0.137666,0.167911,0.113360,0.000000,0.060932,0.097948,0.159143,0.090336,0.040711,...,0.211535,0.024993,0.157786,0.243658,0.158209,0.075139,0.055337,0.044606,0.071737,0.243898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,0.000000,0.520414,0.189057,0.140719,0.075139,0.000000,0.224355,0.077071,0.055005,0.012314,...,0.454332,0.077958,0.088517,0.148757,0.471661,0.000000,0.076715,0.027827,0.141038,0.103027
667,0.000000,0.090347,0.157449,0.106759,0.055337,0.026543,0.047438,0.109923,0.147954,0.133763,...,0.102819,0.075274,0.116110,0.118557,0.150970,0.076715,0.000000,0.000000,0.141421,0.104791
668,0.093389,0.031211,0.092082,0.120491,0.044606,0.030087,0.093206,0.063749,0.034402,0.074128,...,0.019980,0.029864,0.087743,0.126636,0.034226,0.027827,0.000000,0.000000,0.047498,0.097561
669,0.000000,0.217209,0.152963,0.075490,0.071737,0.023461,0.120757,0.263910,0.394333,0.191272,...,0.226421,0.138390,0.128285,0.173308,0.186816,0.141038,0.141421,0.047498,0.000000,0.234150
670,0.026224,0.123673,0.195753,0.272246,0.243898,0.108579,0.260384,0.452129,0.178715,0.234928,...,0.114148,0.082351,0.241596,0.293726,0.142383,0.103027,0.104791,0.097561,0.234150,0.000000

In [5]:
similar_users = ratings_users.idxmax(axis='columns')

In [6]:
similar_users = pd.DataFrame( similar_users , columns=['similarUser'])
similar_users

     similarUser
0            324
1            368
2            378
3            136
4            312
..           ...
666          160
667          453
668          625
669            8
670          597

[671 rows x 1 columns]

In [7]:
n_movies = movies
n_ratings = ratings
n_movies_ratings = movieRatings

In [8]:
def movieIdToTitle(listMovieIDs):
    movie_titles= list()
    for id in listMovieIDs:
        movie_titles.append(n_movies[n_movies['movieId']==id]['title'])
    return movie_titles

In [9]:
movieId_recommended=list()
def get_RecommendedMovies_perUserSimilarity(userId):
    usertoMovies= n_ratings[n_ratings['userId']== userId]['movieId']
    sim_user=similar_users.iloc[0,0]
    recommended=pd.DataFrame(columns=['movieId','title','genres','userId','rating','timestamp'])
    for movieId in n_ratings[n_ratings['userId']== sim_user]['movieId']:
        if movieId not in usertoMovies:
            n_new= n_movies_ratings[(n_movies_ratings.userId==sim_user) & (n_movies_ratings.movieId==movieId)]
            recommended=pd.concat([recommended,n_new])
        Top10=recommended.sort_values(['rating'], ascending = False )[1:10]  
    return Top10['movieId']

In [16]:
user_id = randomUser
recommended_movies= movieIdToTitle(get_RecommendedMovies_perUserSimilarity(user_id))
print("Top suggested movies are :\n")
print(recommended_movies)

Top suggested movies are :

[2174    The Princess Bride
Name: title, dtype: object, 203    How the Grinch Stole Christmas
Name: title, dtype: object, 1403    Toy Story
Name: title, dtype: object, 368    Cast Away
Name: title, dtype: object, 1627    Rain Man
Name: title, dtype: object, 591    Saving Private Ryan
Name: title, dtype: object, 2153    Beetlejuice
Name: title, dtype: object, 2512    Office Space
Name: title, dtype: object, 53    Indiana Jones and the Kingdom of the Crystal S...
Name: title, dtype: object]