In [3]:
import pandas as pd
import numpy as np
import os

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [4]:
Tcredits = pd.read_csv("../datasets/TMDB/tmdb_5000_credits.csv")
Tmovies = pd.read_csv("../datasets/TMDB/tmdb_5000_movies.csv")
Tratings = pd.read_csv("../datasets/The_Movies/ratings_small.csv")
Tlinks = pd.read_csv("../datasets/The_Movies/links_small.csv")

In [5]:
# Tmeta = pd.read_csv("../datasets/The_Movies/movies_metadata.csv")
# print("metadata file is corrupted but same date is present in tmdb_5000_movies.csv datafile")
# pd.DataFrame({'feature':Tmeta.dtypes.index, 'dtype':Tmeta.dtypes.values})

#Tmeta = pd.read_csv("../datasets/The_Movies/movies_metadata.csv")
# Tmeta = pd.read_csv(os.path.join(PATH,"movies_metadata.csv"), low_memory=False)
# Tmeta[Tmeta['popularity'] == 'Beware Of Frost Bites']
# loc = Tmeta.index[Tmeta['popularity'] == 'Beware Of Frost Bites'].tolist()
# Tmeta.iloc[loc]
# Tmeta = Tmeta.drop(Tmeta.index[35587])
# Tmeta.astype({'popularity':float})

In [6]:
#Tcredits = pd.read_csv("../datasets/The_Movies/credits.csv")
#Credits can be fetched from TMDB dataset

In [7]:
#print(Tmovies.columns)
Tmovies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [8]:
Tmovies_1 = Tmovies[['genres','id','keywords','title','overview','popularity','production_companies','release_date','vote_average','vote_count']]
Tmovies_1.head(2)

,genres,id,keywords,title,overview,popularity,production_companies,release_date,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,6.9,4500

In [9]:
# the id column names are different in both datasets. 
Tmovies_2 = Tmovies_1.rename(columns={"id":"movie_id"})
Tcredits_2 = Tcredits.drop(columns=["title"])

In [10]:
#combine to single dataframe
print("Duplicate movie id's conunt in movies df: ",Tmovies_2.movie_id.duplicated().sum())
print("Duplicate movie id's conunt in credits df: ",Tcredits_2.movie_id.duplicated().sum())
Tmovies_3 = Tmovies_2.merge(Tcredits_2,on="movie_id")
Tmovies_3.head(2)

Duplicate movie id's conunt in movies df:  0
Duplicate movie id's conunt in credits df:  0

,genres,movie_id,keywords,title,overview,popularity,production_companies,release_date,vote_average,vote_count,cast,crew
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",2009-12-10,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",2007-05-19,6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [11]:
Tratings_3 = Tratings.rename(columns={"movieId":"movie_id"})
Tratings_3.head(2)

   userId  movie_id  rating   timestamp
0       1        31     2.5  1260759144
1       1      1029     3.0  1260759179

In [12]:
Tmovies_3.isnull().sum()

genres                  0
movie_id                0
keywords                0
title                   0
overview                3
popularity              0
production_companies    0
release_date            1
vote_average            0
vote_count              0
cast                    0
crew                    0
dtype: int64

In [13]:
Tmovies_3 = Tmovies_3.fillna("")
Tmovies_3.isnull().sum()

genres                  0
movie_id                0
keywords                0
title                   0
overview                0
popularity              0
production_companies    0
release_date            0
vote_average            0
vote_count              0
cast                    0
crew                    0
dtype: int64

In [14]:
print("duplicated records", Tmovies_1.duplicated().sum())

duplicated records 0

In [15]:
Tmovies_3['overview'].head()

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object